# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env/

# Environment variables
.env

# Logs
*.log

# Vector DB
faiss_index/

# IDE
.vscode/
.idea/

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Neo4j
data/databases/
data/transactions/

# Large files
*.bin
*.pt
*.onnx